*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: #333331;
  color: #fefefc;
  font-family: 'Raleway', sans-serif;
}

ul {
  padding-left: 0;
}

li {
  list-style: none;
}

h1 {
  font-size: 40px;
  font-weight: 600;
}

h1 span {
  font-weight: 300;
}

.container {
  width: 95%;
  max-width: 1000px;
  margin: 0 auto;
}

.inline {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.image-container {
  position: relative;
}

.image-container svg {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
}

.image-container .hover svg:first-of-type,
.image-container .active svg:first-of-type {
  position: relative;
}

.image-container li svg:last-of-type {
  display: none;
  opacity: 0;
  transition: opacity .5s;
}

.image-container li svg:first-of-type path {
  fill: transparent;
  stroke: #51514f;
  stroke-width: 2px;
  transition: all .5s;
}

/* .image-container .cls-1 {
  stroke: transparent;
} */

.image-container li.hover svg:first-of-type {
  z-index: 2;
}

.image-container li.hover svg:first-of-type path {
  stroke: #fff;
  stroke-width: 4px;
}

.image-container li.active svg:last-of-type {
  display: block;
  opacity: 1;
  z-index: 2;
}

.image-container li svg:last-of-type .cls-1 {
  stroke: white;
  stroke-width: 0;
}

.details {
  position: relative;
}

.call-to-action {
  position: absolute;
  top: 5px;
  right: 0;
  display: flex;
}

.call-to-action img {
  width: 50px;
  height: 35px;
  margin-right: 10px;
  margin-top: 10px;
}

.call-to-action span {
  font-size: 20px;
}

.race {
  margin: 25px 0;
  justify-content: flex-start;
  align-items: center;
}

.race li {
  height: 35px;
  font-size: 20px;
  line-height: 35px;
  padding: 0 18px;
}

.race li:first-of-type {
  padding-left: 0;
}

.race-name {
  font-weight: 600;
}

.race-city {
  border-left: 1px solid #999997;
  border-right: 1px solid #999997;
}

.race-date {
  text-transform: capitalize;
}

.map-radios {
  justify-content: flex-start;
}

.map-radios label {
  display: block;
  height: 90px;
  width: 90px;
  font-weight: 600;
  text-align: center;
  padding-top: 5px;
  margin-bottom: 5px;
}

.map-radios .number {
  width: 35px;
  height: 35px;
  margin: 0 auto 15px;
  background: #282826;
  border-radius: 50%;
  line-height: 35px;
  text-align: center;
}

.map-radios input {
  display: none;
}

.map-radios input:checked + label {
  background: #282826;
  padding: 5px auto 15px;
}

.map-radios input:checked + label .number {
  background: #323230;
}

footer {
  margin-top: 70px;
  background: #282826;
  font-size: 18px;
  padding-top: 20px;
  padding-bottom: 40px;
}

footer ul {
  margin: 0;
}

footer img {
  width: 190px;
  margin-top: 20px;
}

footer a {
  color: #fefefc;
  text-decoration: none;
}

@media(max-width: 1000px) {
 h1 {
   font-size: 24px;
   text-align: center;
 }

 .race,
 .map-radios {
   justify-content: center;
 }

 .race li {
   font-size: 16px;
   padding: 0 10px;
 }

 .call-to-action {
   display: none;
 }
}